.wrapper {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-3);
  scroll-snap-align: center;
  height: calc(100vh - var(--spacing-4));

  @media (min-width: 1200px) {
    position: sticky;
    top: var(--spacing-3);
    margin-top: var(--spacing-4);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: calc(var(--spacing-2) * -1);
}

.headerItem {
  margin: var(--spacing-2);
}