.wrapper {
  display: flex;
  margin: 0 auto;
  padding: var(--spacing-3);
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  scroll-behavior: smooth;

  @media (min-width: 1200px) {
    max-width: 1400px;
    overflow-x: unset;
  }
}

.main {
  width: 100vw;
  flex: 0 0 100vw;
  box-sizing: border-box;
  padding: var(--spacing-6) var(--spacing-3) 0 var(--spacing-3);
  scroll-snap-align: start;
  
  @media (min-width: 1200px) {
    flex: 1;
    padding: var(--spacing-4) var(--spacing-4) 0 var(--spacing-4);
  }
}

.main > :global(:nth-child(1)) {
  margin-top: 0;
}
