.text {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
}

.image {
  max-width: 100%;
}

:global(.light-mode) .text {
  color: var(--color-light-text-500);
}

:global(.dark-mode) .text {
  color: var(--color-dark-text-500);
}
