.list, .item {
  display: flex;
  font-size: 0;
}

.item + .item {
  margin-left: var(--spacing-2);
}

.item :global(svg) {
  height: 22px;
}

:global(.light-mode) .item :global(svg) :global(path) {
  fill: var(--color-light-text-500);
}

:global(.dark-mode) .item :global(svg) :global(path) {
  fill: var(--color-dark-text-500);
}